.create-form { 
margin: 0 auto; 
width:250px;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	color : grey;
	font-family: 'Verdana, Sans-serif';
}

.create-formbox{
	position: relative;
border-radius: 3px;
background: #ffffff;
border-top: 3px solid #d2d6de;
margin-bottom: 20px;
width: 100%;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	width: 60%;
}